.recommended-flex {
  display: flex;
  margin-left: 20rem;
}

.recommended-title {
  margin-left: 20rem;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .recommended-flex,
  .recommended-title {
    margin-left: 10rem;
  }
}

@media screen and (max-width: 992px) {
  .recommended-flex,
  .recommended-title {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .recommended-flex,
  .recommended-title {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .recommended-flex,
  .recommended-title {
    margin-left: 0;
  }

  .recommended-title {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}
